<br/>
<span id="job_status"></span>
<script type="text/javascript">
  function render_status(argument) {
    $.ajax({
        url: "/job_statuses",
    }).success(function(data){
      var classes = 'icon ';
      var status_text = '';
      var recalculation_info;

      switch (data.status) {
        case 'working':
          classes += 'icon-loading';
          status_text += '<%= l(:label_updating) %>';
          break;
        case 'complete':
          classes += 'icon-ok'
          status_text += '<%= l(:label_update_complete) %>';
          break;
        case 'failed':
          classes += 'icon-error'
          status_text += '<%= l(:label_update_error) %>';
          break;
        default:
          break;
      }
      if(data.job_successful_complete_at) {
        recalculation_info = `<%= l(:label_last_recalculation_was) %> ${data.job_successful_complete_at}`;
      }
      if(data.status) {
        $('#job_status').attr('class', classes);
        if(recalculation_info) {
          status_text += ` (${recalculation_info})`;
        }
        if(data.status == 'working') setTimeout(function(){ render_status()},
                                                1000);
      } else {
        if(recalculation_info) status_text += recalculation_info;
      }
      $('#job_status').text(status_text);
    })
  }

  $(function(){
    render_status();
  });
</script>
